.peerview-body {
    background-color: #351315;
    color: #e5d8cc;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
}

.peerview-beige-bg-opacity-50 {
    background-color: rgba(229, 216, 204, 0.5);
}

.peerview-beige-bg {
    background-color: rgb(229, 216, 204);
}

.peerview-button {
    font-family: 'Amatic SC', cursive;
    color: #fc992b;
    border: solid 3px #fc992b;
}

.peerview-button:hover {
    background-color: rgba(252, 153, 43, 0.1);
}
