.peerview-body {
    background-color: #351315;
    color: #e5d8cc;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
    background-image: url("../img/sphere.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top right;
}

.peerview-beige-bg-opacity-50 {
    background-color: rgba(229, 216, 204, 0.5);
}

.peerview-beige-bg {
    background-color: rgb(229, 216, 204);
}

.peerview-beige-border {
    border: solid 5px rgb(229, 216, 204);
}

.peerview-orange-bg {
    background-color: #fc992b;
}

.peerview-handwriting {
    font-family: 'Amatic SC', cursive;
    color: #fc992b;
}

.peerview-badges-container {
    grid-template-rows: auto 1fr;
}

.peerview-button {
    font-family: 'Amatic SC', cursive;
    color: #fc992b;
    border: solid 3px #fc992b;
}

.peerview-button:hover {
    background-color: rgba(252, 153, 43, 0.1);
}
